<div class="container mb-5">
  <h3 id="demo-component-panel" class="subtitle is-4">Panel</h3>

  <p class="heading">Default</p>
  <nav class="panel">
    <p class="panel-heading">Repositories</p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Public</a>
      <a>Private</a>
    </p>
    <a class="panel-block is-active">
      <span class="panel-icon"><i class="fas fa-book"></i></span>
      bulma
    </a>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-book"></i></span>
      eleventy
    </a>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-code-branch"></i></span>
      sass
    </a>
    <label class="panel-block">
      <input type="checkbox" checked>
      Remember the filter
    </label>
    <div class="panel-block">
      <button class="button is-link is-outlined is-fullwidth">Reset filters</button>
    </div>
  </nav>

  <p class="heading">Colors</p>
  <nav class="panel is-primary mb-3">
    <p class="panel-heading">Primary panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
  <nav class="panel is-secondary mb-3">
    <p class="panel-heading">Secondary panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
  <nav class="panel is-info mb-3">
    <p class="panel-heading">Info panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
  <nav class="panel is-success mb-3">
    <p class="panel-heading">Success panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
  <nav class="panel is-warning mb-3">
    <p class="panel-heading">Warning panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
  <nav class="panel is-danger">
    <p class="panel-heading">Danger panel</p>
    <a class="panel-block">
      <span class="panel-icon"><i class="fas fa-circle"></i></span>
      Item
    </a>
  </nav>
</div>
