<div class="container mb-5">
  <h3 id="demo-component-pagination" class="subtitle is-4">Pagination</h3>

  <p class="heading">Default</p>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link">45</a></li>
      <li><a class="pagination-link is-current" aria-current="page">46</a></li>
      <li><a class="pagination-link">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a class="pagination-link">86</a></li>
    </ul>
  </nav>

  <p class="heading">Sizes</p>
  <nav class="pagination is-small mb-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
  <nav class="pagination mb-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
  <nav class="pagination is-medium mb-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
  <nav class="pagination is-large" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>

  <p class="heading">States</p>
  <p class="demo-variant"><code>.pagination-previous[disabled]</code></p>
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" disabled>Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link is-current" aria-current="page">1</a></li>
      <li><a class="pagination-link">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>

  <p class="heading">Modifiers</p>
  <p class="demo-variant"><code>.is-centered</code></p>
  <nav class="pagination is-centered mb-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
  <p class="demo-variant"><code>.is-right</code></p>
  <nav class="pagination is-right mb-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
  <p class="demo-variant"><code>.is-rounded</code></p>
  <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next</a>
    <ul class="pagination-list">
      <li><a class="pagination-link">1</a></li>
      <li><a class="pagination-link is-current">2</a></li>
      <li><a class="pagination-link">3</a></li>
    </ul>
  </nav>
</div>
