<div class="container mb-5">
  <h3 id="demo-component-panel" class="subtitle is-4">Panel</h3>
  <nav class="panel">
    <p class="panel-heading">Repositories</p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search">
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
    <p class="panel-tabs">
      <a class="is-active">All</a>
      <a>Public</a>
      <a>Private</a>
    </p>
    <a class="panel-block is-active">
      <span class="panel-icon">
        <i class="fas fa-book"></i>
      </span>
      bulma
    </a>
    <a class="panel-block">
      <span class="panel-icon">
        <i class="fas fa-book"></i>
      </span>
      eleventy
    </a>
  </nav>
</div>
