<div class="container mb-5">
  <h3 id="demo-component-tabs" class="subtitle is-4">Tabs</h3>

  <p class="heading">Default</p>
  <div class="tabs">
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>

  <p class="heading">Modifiers</p>
  <p class="demo-variant"><code>.is-boxed</code></p>
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>

  <p class="demo-variant"><code>.is-toggle</code></p>
  <div class="tabs is-toggle">
    <ul>
      <li class="is-active"><a>Pictures</a></li>
      <li><a>Music</a></li>
      <li><a>Videos</a></li>
      <li><a>Documents</a></li>
    </ul>
  </div>
</div>
