<div class="container mb-5">
  <h3 id="demo-element-notification" class="subtitle is-4">Notification</h3>

  <p class="heading">Colors</p>
  <div class="notification is-primary">
    <button class="delete" aria-label="delete"></button>
    Primary notification.
  </div>
  <div class="notification is-secondary">
    <button class="delete" aria-label="delete"></button>
    Secondary notification.
  </div>
  <div class="notification is-info">
    <button class="delete" aria-label="delete"></button>
    Info notification.
  </div>
  <div class="notification is-success">
    <button class="delete" aria-label="delete"></button>
    Success notification.
  </div>
  <div class="notification is-warning">
    <button class="delete" aria-label="delete"></button>
    Warning notification.
  </div>
  <div class="notification is-danger">
    <button class="delete" aria-label="delete"></button>
    Danger notification.
  </div>

  <p class="heading">Light</p>
  <div class="notification is-primary is-light">
    <button class="delete" aria-label="delete"></button>
    Primary (light).
  </div>
  <div class="notification is-secondary is-light">
    <button class="delete" aria-label="delete"></button>
    Secondary (light).
  </div>
  <div class="notification is-info is-light">
    <button class="delete" aria-label="delete"></button>
    Info (light).
  </div>
  <div class="notification is-success is-light">
    <button class="delete" aria-label="delete"></button>
    Success (light).
  </div>
  <div class="notification is-warning is-light">
    <button class="delete" aria-label="delete"></button>
    Warning (light).
  </div>
  <div class="notification is-danger is-light">
    <button class="delete" aria-label="delete"></button>
    Danger (light).
  </div>
</div>
