<div class="container mb-5">
  <h3 id="demo-element-table" class="subtitle">Table</h3>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Alice</td>
        <td>Designer</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bob</td>
        <td>Developer</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Carol</td>
        <td>Product</td>
      </tr>
    </tbody>
  </table>
</div>
