<div class="container mb-5">
  <h3 id="demo-element-tag" class="subtitle is-4">Tag</h3>
  <div class="tags">
    <span class="tag">Default</span>
    <span class="tag is-primary">Primary</span>
    <span class="tag is-info">Info</span>
    <span class="tag is-success">Success</span>
    <span class="tag is-warning">Warning</span>
    <span class="tag is-danger">Danger</span>
  </div>
  <div class="tags has-addons">
    <span class="tag is-dark">version</span>
    <span class="tag is-primary">1.0.4</span>
  </div>
</div>
