<div class="container mb-5">
  <h3 id="demo-element-button" class="subtitle">Button</h3>
  <div class="buttons">
    <button class="button">Default</button>
    <button class="button is-primary">Primary</button>
    <button class="button is-link">Link</button>
    <button class="button is-info">Info</button>
    <button class="button is-success">Success</button>
    <button class="button is-warning">Warning</button>
    <button class="button is-danger">Danger</button>
  </div>
  <div class="buttons">
    <button class="button is-primary is-light">Primary light</button>
    <button class="button is-primary" disabled>Disabled</button>
    <button class="button is-primary is-loading">Loading</button>
  </div>
</div>
