<div class="container mb-5">
  <h3 id="demo-element-table" class="subtitle is-4">Table</h3>

  <p class="heading">Default</p>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Alice</td><td>Designer</td></tr>
      <tr><td>2</td><td>Bob</td><td>Developer</td></tr>
      <tr><td>3</td><td>Carol</td><td>Product</td></tr>
    </tbody>
  </table>

  <p class="heading">Modifiers</p>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Alice</td><td>Designer</td></tr>
      <tr><td>2</td><td>Bob</td><td>Developer</td></tr>
      <tr><td>3</td><td>Carol</td><td>Product</td></tr>
    </tbody>
    <tfoot>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </tfoot>
  </table>
  <table class="table is-bordered is-narrow is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Alice</td><td>Designer</td></tr>
      <tr><td>2</td><td>Bob</td><td>Developer</td></tr>
    </tbody>
  </table>

  <p class="heading">States</p>
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>Alice</td><td>Designer</td></tr>
      <tr class="is-selected"><td>2</td><td>Bob</td><td>Developer</td></tr>
      <tr><td>3</td><td>Carol</td><td>Product</td></tr>
    </tbody>
  </table>

  <p class="heading">Colors</p>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Color</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr><th>Default</th><td>(no row modifier)</td></tr>
      <tr class="is-primary"><th>Primary</th><td>is-primary</td></tr>
      <tr class="is-info"><th>Info</th><td>is-info</td></tr>
      <tr class="is-success"><th>Success</th><td>is-success</td></tr>
      <tr class="is-warning"><th>Warning</th><td>is-warning</td></tr>
      <tr class="is-danger"><th>Danger</th><td>is-danger</td></tr>
      <tr class="is-light"><th>Light</th><td>is-light</td></tr>
      <tr class="is-dark"><th>Dark</th><td>is-dark</td></tr>
    </tbody>
  </table>

  <p class="heading">In context</p>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><input class="input is-small" type="text" value="Alice"></td>
        <td>
          <div class="buttons are-small">
            <button class="button is-primary">Save</button>
            <button class="button">Cancel</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td><input class="input is-small" type="text" value="Bob"></td>
        <td>
          <div class="buttons are-small">
            <button class="button is-primary">Save</button>
            <button class="button">Cancel</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
