<div class="container mb-5">
  <h3 id="demo-element-button" class="subtitle">Button</h3>
  <div class="buttons">
    <button class="button">Default</button>
    <button class="button is-primary">Primary</button>
    <button class="button is-link">Link</button>
    <button class="button is-info">Info</button>
    <button class="button is-success">Success</button>
    <button class="button is-warning">Warning</button>
    <button class="button is-danger">Danger</button>
  </div>
  <div class="buttons">
    <button class="button is-primary is-light">Primary light</button>
    <button class="button is-primary" disabled>Disabled</button>
    <button class="button is-primary is-loading">Loading</button>
  </div>

  <p class="title is-6">Sizes</p>
  <div class="buttons">
    <button class="button is-small">Small</button>
    <button class="button">Normal</button>
    <button class="button is-medium">Medium</button>
    <button class="button is-large">Large</button>
  </div>

  <p class="title is-6">Outlined</p>
  <div class="buttons">
    <button class="button is-primary is-outlined">Primary</button>
    <button class="button is-link is-outlined">Link</button>
    <button class="button is-info is-outlined">Info</button>
    <button class="button is-success is-outlined">Success</button>
    <button class="button is-warning is-outlined">Warning</button>
    <button class="button is-danger is-outlined">Danger</button>
  </div>

  <p class="title is-6">Inverted</p>
  <div class="buttons">
    <button class="button is-primary is-inverted">Primary</button>
    <button class="button is-link is-inverted">Link</button>
    <button class="button is-info is-inverted">Info</button>
    <button class="button is-success is-inverted">Success</button>
    <button class="button is-warning is-inverted">Warning</button>
    <button class="button is-danger is-inverted">Danger</button>
  </div>

  <p class="title is-6">States</p>
  <div class="buttons">
    <button class="button is-primary is-hovered">Hover</button>
    <button class="button is-primary is-focused">Focus</button>
    <button class="button is-primary is-active">Active</button>
  </div>

  <p class="title is-6">With icon</p>
  <div class="buttons">
    <button class="button is-primary">
      <span class="icon"><i class="fas fa-check"></i></span>
      <span>Save</span>
    </button>
    <button class="button is-danger">
      <span class="icon"><i class="fas fa-xmark"></i></span>
      <span>Delete</span>
    </button>
    <button class="button">
      <span>Search</span>
      <span class="icon"><i class="fas fa-magnifying-glass"></i></span>
    </button>
    <button class="button is-link is-outlined">
      <span class="icon"><i class="fas fa-upload"></i></span>
      <span>Upload</span>
    </button>
  </div>
</div>
