<div class="container mb-5">
  <h3 id="demo-form-select" class="subtitle is-4">Select</h3>
  <div class="field">
    <div class="control">
      <div class="select">
        <select>
          <option>Default</option>
          <option>With options</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="select is-primary">
        <select>
          <option>Primary</option>
        </select>
      </div>
    </div>
  </div>
</div>
