<aside class="menu">
  <p class="menu-label">Form</p>
  <ul class="menu-list">
    <li><a href="#demo-form-general">General</a></li>
    <li><a href="#demo-form-input">Input</a></li>
    <li><a href="#demo-form-select">Select</a></li>
    <li><a href="#demo-form-checkbox">Checkbox</a></li>
    <li><a href="#demo-form-radio">Radio</a></li>
    <li><a href="#demo-form-file">File</a></li>
  </ul>
  <p class="menu-label">Elements</p>
  <ul class="menu-list">
    <li><a href="#demo-element-box">Box</a></li>
    <li><a href="#demo-element-button">Button</a></li>
    <li><a href="#demo-element-content">Content</a></li>
    <li><a href="#demo-element-icon">Icon</a></li>
    <li><a href="#demo-element-notification">Notification</a></li>
    <li><a href="#demo-element-progress">Progress</a></li>
    <li><a href="#demo-element-table">Table</a></li>
    <li><a href="#demo-element-tag">Tag</a></li>
    <li><a href="#demo-element-title">Title</a></li>
  </ul>
  <p class="menu-label">Components</p>
  <ul class="menu-list">
    <li><a href="#demo-component-breadcrumb">Breadcrumb</a></li>
    <li><a href="#demo-component-card">Card</a></li>
    <li><a href="#demo-component-dropdown">Dropdown</a></li>
    <li><a href="#demo-component-message">Message</a></li>
    <li><a href="#demo-component-modal">Modal</a></li>
    <li><a href="#demo-component-pagination">Pagination</a></li>
    <li><a href="#demo-component-panel">Panel</a></li>
    <li><a href="#demo-component-tabs">Tabs</a></li>
  </ul>
</aside>
