/* For sticky footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
section[id] {
  scroll-margin-top: var(--bulma-navbar-height);
}

.navbar.is-sticky {
  position: sticky;
  top: 0;
}
footer.footer, div.footer {
  margin-top: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
